<!-- APERTURA DEL HEADER -->
<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand nav__luxury text-light" href="/">AutoPrest</a>
            <button class="navbar-toggler nav__toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon nav__toggler__icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                
                </div>
                <div class="ms-auto d-flex align-items-center">
                
                  
                </div>
                
            </div>
        </div>
    </nav>
</header>
<!-- CIERRE DEL HEADER -->
